<link rel='stylesheet' href='/stylesheets/style.css' />

<a href="/admin/countries-add">Add Country</a>
<table class="table table-bordered">    
    <thead>
        <th>Name</td>
        <th>Desc</td>
        <th>Image</td>    
    </thead>
    <tbody>
{{#each countries}}
<tr>    
    <td> <div id="tableOfAdd">{{Name}} </div> </td>
    <td> <div id="tableOfAdd">{{Desc}} </div> </td>
    <td> <div id="tableOfAdd">{{Image}} </div> </td>
</tr>
{{/each}}
</tbody>
</table>