<a class="btn btn-primary" href="/admin/countries-add">Add Country</a>
<hr>
 <table class="table table-bordered">    
     <thead>
         <th>Name</td>
         <th>Desc</td>
         <th>Image</td>    
     </thead>
     <tbody>
 {{#each countries}}
 <tr>    
     <td>{{Name}}</td>
     <td>{{Desc}}</td>
     <td>{{Image}}</td>
 </tr>
 {{/each}}
 </tbody>
 </table> 