{{#each countries}}
<div class="media">
  <div class="media-left">
    <img src="{{Image}}" alt="{{Name}}" class="media-object" style="width:200px; height:100px">
  </div>
  <div class="media-body">
   <h4 class="media-heading">{{Name}}</h4> 
   <p>{{Desc}}</p>
  </div>
</div>
{{/each}}
