<div class="jumbotron">
    <div>
        <img src="http://dublin.eazycity.com/media/gallery/image/d/u/dublin_4.jpg" alt="avatar" class="img-responsive" style="width:900px; height:400px"> 
        <div>
            <h2>Коледж</h2>
            <arcticle>
            <p>Заклад вищої освіти, що провадить інноваційну освітню діяльність, пов’язану із здобуттям ступеня бакалавра та/або молодшого бакалавра, проводить прикладні наукові дослідження та/або творчу мистецьку діяльність. Коледж також має право відповідно до ліцензії (ліцензій) забезпечувати здобуття профільної середньої, професійної (професійно-технічної) та/або фахової передвищої освіти.
            Статус коледжу отримує заклад освіти (структурний підрозділ закладу освіти), в якому ліцензований обсяг підготовки здобувачів вищої освіти ступеня бакалавра та/або молодшого бакалавра становить не менше 30 відсотків загального ліцензованого обсягу.
            </p>
            </arcticle>
        </div>   
    </div>
</div></div>